/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

body
  direction: rtl

.ui-post-meta:not(:last-child), .post-meta > div
  margin-left: 20px
  margin-right: auto!important

.ui-post-meta svg, .post-meta svg
  margin-left: 5px
  margin-right: 0!important

.pagination
  padding: 0